
<main class="main-container">

   <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form animated-translate ">
    <!-- Titre du formulaire -->
    <p class="form-title">Connectez-vous </p>
    
    <!-- Champ Email -->
    <label for="username" class="form-label">
      Nom d'utilisateur
  </label>
  
    <div class="input-container">
    
      <input
        id="username" 
        formControlName="username"
        type="email"
        placeholder="Entrez votre Nom de Utilisateur"
      />
      <span>
        <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
      </span>
    </div>
  
    <!-- Champ Mot de passe -->
    <label for="username form-label">
      Mot de passe    </label>
    <div class="input-container">
      <input
        formControlName="password"
        type="password"
        placeholder="Entrez votre mot de passe"
      />
      <span>
        <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
          <path d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
      </span>
    </div>
  
    <!-- Bouton de soumission -->
    <button class="submit" type="submit">
      Se connecter  </button>
  

  </form>
  