
<br><br><br><br><br>

<div class="container mt-4 ">
    <h2 class="title">Liste des Employées interssant des formations</h2>
    <br>
    <table class="table table-striped table-bordered animated-translate">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Name</th>
          <th scope="col">Submitted At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reponse">
          <td>{{ item.title }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.submitted_at | date: 'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>