<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<header id="header mb-0" class="fixed-top mb-0">
  <nav>
    <div class="bg-gray-700 bg-opacity-90 shadow-sm rounded p-0 mb-0">
      <div class="container mx-auto px-4 mb-0">
        <div class="flex items-center justify-between py-4 mb-0"> 
 
           <a routerLink="/home" >
              <img src="assets/img/infiniti-logo-infinity-abstract-emblem-infinity-endless-line-shape-sign-vector-removebg-preview.png" alt="Logo" style="width: 100px; height: auto; margin-left: -50px;"/>

            </a> 
      
          <div class="nav flex items-center mb-0" style="margin-right: 200px;">
            <div class="relative" *ngIf="authService.isSuperUser">
              <a class="nav-link mb-0" routerLink="/home">Accueil</a>
              <div class="relative" (mouseleave)="closeDropdown()">
                <a class="nav-link department-link " (click)="openDropdown()">
                  Department
                  <i class="fas fa-chevron-down" [class.rotate]="showDropdown"></i> <!-- Flèche avec rotation -->
                </a>
                <div class="dropdown-menu" *ngIf="showDropdown">
                  <a class="dropdown-item" routerLink="/Department/informatique">
                    <i class="fas fa-laptop-code"></i> Informatique
                  </a>
                  <hr class="mt-0 mb-0">
                  <a class="dropdown-item" routerLink="/Department/vente">
                    <i class="mr-2 fas fa-shopping-cart"></i> Vente
                  </a>
                  <hr class="mt-0 mb-0">
                  <a class="dropdown-item" routerLink="/Department/achat">
                    <i class="mr-2 fas fa-box"></i> Achat
                  </a>
                  <hr class="mt-0 mb-0" style="color: white;">
                  <a class="dropdown-item" routerLink="/viewAll">
                    <i class="mr-2 fas fa-users"></i> Tous les employés
                  </a>
                </div>
              </div>
              
                            
              <a class="nav-link" routerLink="/add">Ajouter employée</a>
              <a class="nav-link" routerLink="/les-Demandes" (click)="getDemandes()">
                Demandes
                <span *ngIf="hasNewDemandes" class="notification-dot">!</span>
              </a>
              <a class="nav-link" routerLink="/dashboard">Tableau de bord</a>

            </div>
            <div class="relative" *ngIf="authService.isAuthenticated && !authService.isSuperUser" style="margin-right: 500px;">
              <a class="nav-link" routerLink="/home">Accueil</a>
              <a class="nav-link" routerLink="/myprofile">Profile</a>
            </div>
          </div>
  
          <div class="flex items-center">
            <button class="text-gray-800 text-sm font-semibold border text-white px-4 py-2 rounded-lg hover:text-purple-600 hover:border-purple-600" (click)="logout()">Déconnexion</button>
          </div>
  
        </div>
      </div>
    </div>
  </nav>
  
  
</header>