<br><br>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg bg-white rounded" style="width: 100%; max-width: 600px;">
    <div class="card-body p-4">
      <h2 class="text-center text-primary ">Ajouter une Formation</h2>
      <form (ngSubmit)="addFormation()" [formGroup]="formgroup" novalidate>
        <div class="form-group mb-3 ">
          <label for="title" class="form-label">
            <i class="fas fa-heading"></i> Titre:
          </label>          <input type="text" id="title" formControlName="title" class="form-control" placeholder="Entrez le titre" required>
        </div>
        <div class="form-group mb-3 ">
          <label for="description" class="form-label">
            <i class="fas fa-align-left"></i> Description:
          </label>          <textarea id="description" formControlName="description" class="form-control" placeholder="Entrez la description" rows="3" required></textarea>
        </div>

        <!-- Row for Date, Durée, and Lieu -->
        <div class="row  ">
          <div class="col-md-4 ">
            <label for="date" class="form-label">
              <i class="fas fa-calendar-alt"></i> Date:
            </label>            <input type="date" id="date" formControlName="date" class="form-control" required>
          </div>
          <div class="col-md-4 mb-5">
            <label for="duration" class="form-label">
              <i class="fas fa-clock"></i> Durée:
            </label>            <input type="text" id="duration" formControlName="duration" class="form-control" placeholder="Entrez la durée" required>
          </div>
          <div class="col-md-4 mb-4">
            <label for="location" class="form-label">
              <i class="fas fa-map-marker-alt"></i> Lieu:
            </label>            <input type="text" id="location" formControlName="location" class="form-control" placeholder="Entrez le lieu" required>
          </div>
        </div>

        <div class="form-group mb-4">
          <label for="image" class="form-label">
            <i class="fas fa-upload"></i> Télécharger l'image <span class="text-danger">*</span>
          </label>          <input type="file" id="image" class="form-control-file" (change)="onFileChange($event)">
        </div>
        <div class="form-group text-center mb-4">
          <img *ngIf="imageUrl" [src]="imageUrl.toString()" alt="Image téléchargée" class="img-fluid rounded mt-3">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg w-100">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
