<br><br><br><br>

<div class="card p-4 mt-4 shadow mb-5" style="width: 50%; margin: 0 auto;">
    <h2 class="mb-4">Demande de congé</h2>
    <form [formGroup]="formgroup">
        <div class="form-group">
            <div class="form-group">
                <label for="title">Title</label>
                <select class="form-control" formControlName="title" id="title" name="title" required>
                    <option value="maladie">Maladie</option>
                    <option value="vaconce">Vaconce</option>
                    <option value="personel">Personel</option>
                </select>
            </div>
            <label for="number_of_days">Nombre de jours de congé:</label>
            <div class="input-group">
                <input type="number"  formControlName="number_of_days" class="form-control" id="number_of_days" name="number_of_days" min="0" required>
                <div class="input-group-append">
                    <span class="input-group-text">jours</span>
                </div>
            </div>
            <small id="number_of_days_help" class="form-text text-muted">Entrez le nombre de jours de congé que vous souhaitez demander.</small>
        </div>

        <label for="number_of_days">Date de de Debut de congé:</label>
        <div class="input-group">
            <input type="date" formControlName="date_debut"  class="form-control" id="date_debut" name="date_debut" min="0" required>
        </div>
        <br>
        <div class="form-group">
            <label for="reason">Raison:</label>
            <textarea class="form-control" formControlName="reason" id="reason" name="reason" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addDemande()">Envoyer</button>
    </form>

</div>