<br><br><br><br><br>
<div class="admin-dashboard-container">
 
  <div class="user-growth-graphique">
    <h3 style="margin-bottom: 20px;text-align: center;"> Croissance des Employées</h3>
    <ngx-charts-line-chart
      [results]="userData"
      [legend]="true"
      [xAxis]="true"
      [yAxis]="true"
      [scheme]="colorScheme"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Date'"
      [yAxisLabel]="'Nombre d\'utilisateurs'">
    </ngx-charts-line-chart>
  </div>
 
  <div class="admin-demandes-graphique">
    <h3 style="margin-bottom: -40px; text-align: center;">Statistiques des Demandes</h3>
    
    <ngx-charts-pie-chart
      [results]="demandeData"
      [legend]="true"
      [labels]="true"
      [scheme]="colorScheme">
    </ngx-charts-pie-chart>
  </div>
  
  
  

</div>
