/* dashboard-admin.component.css */

.admin-dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(387px, 1fr)); /* Colonnes responsives */
    grid-gap: 20px; /* Espacement entre les éléments */
    max-width: 1200px; /* Largeur maximale de la grille */
   /* Centrer la grille sur la page */
  }
  
.admin-dashboard-container > div {
    display: flex; /* Utiliser flexbox pour centrer le contenu */
    flex-direction: column; /* Aligner les éléments verticalement */
    justify-content: flex-start; /* Alignement du contenu vers le haut */
    border: 1px solid #ccc; /* Bordure pour visualisation */
    padding: 0px; /* Espacement interne */
    height: 400px; /* Hauteur fixe pour chaque bloc de graphique */
}

.admin-dashboard-container > div > * {
  margin-bottom: -10px;
   /* Réinitialiser les marges des éléments enfants */
}

  /* dashboard-admin.component.css */
/* dashboard-admin.component.css */

.demandes-bar-graphique .chart-container {
    position: relative; /* Position relative pour le conteneur du graphique */
  }
  

.total-requests-line-graphique {
    border: 1px solid #ccc; /* Bordure pour visualisation */
 /* Espacement interne */
    height: 300px; /* Hauteur fixe pour le bloc de graphique */
  }
  
  .total-requests-line-graphique ngx-charts-line-chart {
    height: 100%; /* Remplir la hauteur du conteneur parent */
  }
  

  
/* Styles spécifiques au graphique des demandes par statut */
.admin-demandes-graphique ngx-charts-bar-vertical {
    height: 200px; /* Ajustez la hauteur au besoin */
  }
  
  /* Styles pour ajuster la taille des barres */
  .admin-demandes-graphique ngx-charts-bar-vertical .bar {
    rx: 3px; /* Bord arrondi */
    ry: 3px; /* Bord arrondi */
    width: 10px; /* Largeur réduite des barres */
  }
  
  /* Ajustez les couleurs et autres styles selon vos préférences */
  
  .admin-demandes-graphique,
  .user-growth-graphique,
  .demandes-bar-graphique,
  .total-requests-bar-graphique {
    height: 100%; /* Hauteur à 100% pour remplir le conteneur parent */
  }
  /* dashboard-admin.component.css */


